* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color: #000000;
  --background-color: #AAAAAA;
  --special-color: null;
  --grid-area-size: null;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  gap: 8px;

}

.grid-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: 2;
  border: 3px inset #fffffff0;
  border-radius: 5px;
}

.grid-areax16 {
  width: calc(100% / 16);
  height: calc(100% / 16);
  background: var(--background-color);
}

.grid-areax32 {
  width: calc(100% / 32);
  height: calc(100% / 32);
  background: var(--background-color);
}

.grid-areax64 {
  width: calc(100% / 64);
  height: calc(100% / 64);
  background: var(--background-color);
}

.grid-areax100 {
  width: calc(100% / 100);
  height: calc(100% / 100);
  background: var(--background-color);
}

.grid-area-custom {
  width: calc(100% / var(--grid-area-size));
  height: calc(100% / var(--grid-area-size));
  background: var(--background-color);
}

.grid-color {
  background: var(--color);
}

button {
  width: max-content;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  transition: 0.5s;
}

button:hover {
  border: 1px solid #ff5;
  color: #ff5;
}

button:active {
  background-color: #fff;
  color:rgba(0, 0, 0, 0.9);
}

.buttonContainer, .inputContainer {
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  order: 1;
  margin: calc(1%) 0;
}

.inputContainer {
  order: 3;
}

input[type=color] {
  background-color: rgba(0,0,0,0);
  border: none;
}

select {
  background-color: rgba(0,0,0,0.6);
  border: none;
  color: #fff;
}

.inputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 8px;
}

/* Special Effects */
@keyframes moveGradient {
  0% {
    background-position: top;
  }

  50% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}

@keyframes redraw {
  0% {

  }

  50% {

  }

  75% {

  }

  100% {
    background: var(--background-color);
  }
}

.redraw {
  animation: redraw 3s ease infinite;
}


.grid-container:has(.rainbow-reveal) {
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

.rainbow-reveal {
  background: rgba(0,0,0,0);
}

.grid-container:has(.pulse) {
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
  background-size: 100% 1000%;
  animation: moveGradient 20s ease infinite;
}
